*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 30%;

}

body{
    font-family: $ff-primary;
    overflow-x: hidden;
}

ul,li,a{
    text-decoration: none;
}

body, html{
    overflow-x: hidden;
}